section#projects-section {
  display: flex;
  flex-direction: column;
}

section#projects-section ul.projects-list-container {
  display: flex;
  flex-direction: column;
}

section#projects-section ul.projects-list-container li {
  display: block;
  width: 100%;
}

section#projects-section div.repo-container div.repository-title-container {
  display: flex;
  flex-direction: column;
}
