/* FavTools.css */

/* General Styles */
#fav-tools {
  display: flex;
  flex-direction: row;
  padding: 0;
}

#fav-tools .MuiListItem-root {
  padding: 0;
  width: auto;
}

#fav-tools #more-tools {
  flex-direction: row;
}

/* Container for the scrolling effect */
.scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

/* List container for the tools */
.tools-list {
  display: flex;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Individual tool items */
.tool-item {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

/* Styling for the tool icons */
.tool-icon {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

@media (max-width: 750px) {
  .tool-icon {
    width: 30px;
    height: 30px;
    margin-right: 4px;
  }
}
