@font-face {
  font-family: 'RalewayRegular';
  src: local('RalewayRegular'), url(${RalewayRegular}) format('woff'),
    url(${RalewayBold2}) format('woff2');
}
@font-face {
  font-family: 'RalewayMedium';
  src: local('RalewayMedium'), url(${RalewayMedium}) format('woff'),
    url(${RalewayMedium2}) format('woff2');
}
